---
---

<section
  id="AboutUs"
  class="py-[140px] px-[330px] bg-white relative overflow-hidden"
>
  <div
    class="diagonal-bar bg-[#f3f4f8] h-[30%] absolute z-0 -rotate-3 -left-5 -top-12 w-[120%]"
  >
  </div>

  <div class="about-us-content relative z-10">
    <h3 class="title">Über uns</h3>

    <div
      class="h-[543px] my-12 bg-center relative flex flex-col justify-center items-center bg-cover"
      style="background-image: url('/images/VideoPlayer.webp');"
    >
      <a href="#YTVideo" class="p-5">
        <img src="/images/yt.png" alt="play" />
      </a>

      <a href="#YTVideo" class="absolute left-0 bottom-0">
        <img src="/images/channel.png" alt="our channel" />
      </a>
    </div>
    <p class="paragraph">
      Wir sind ein junges dynamisches Unternehmen das sich als Ziel gesetzt hat
      Menschen die Chance zu geben sich persönlich und beruflich
      weiterzuentwickeln, eine familiäre Firmenkultur zu schaffen in der Spaß,
      Arbeit & Karrieremöglichkeit vereint sind.
    </p>
  </div>
</section>
