---
const iframeLink = "https://www.youtube.com";
---

<section id="AboutUs" class="py-[140px] px-[330px] relative">
  <div class="about-us-content">
    <h3 class="title">Über uns</h3>

    <!-- IFRAME -->
    <div class="ifram-wrapper h-[541px] my-12 bg-gray-100">
      <iframe
        width="100%"
        height="100%"
        src={iframeLink}
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>
    <p class="paragraph">
      Wir sind ein junges dynamisches Unternehmen das sich als Ziel gesetzt hat
      Menschen die Chance zu geben sich persönlich und beruflich
      weiterzuentwickeln, eine familiäre Firmenkultur zu schaffen in der Spaß,
      Arbeit & Karrieremöglichkeit vereint sind.
    </p>
  </div>
</section>
