---
import Stage from "@components/Stage.astro";

import { stages } from "@data/data";
---

<section id="Career" class="relative overflow-hidden">
  <div class="relative z-10 py-[140px] px-[330px]">
    <p class="title mb-10">Deine Karriere</p>
    <p class="paragraph">
      Stillstand ist für uns keine Option! <br />
      Die Entwicklung und weiterbildung unsere Mitarbeiter liegt bei uns an oberster
      Stelle. Du bestimmst selber wie schnell und wie erfolgreich du dich entwickeln
      möchtest.
    </p>
  </div>

  <div
    class="stages mt-16 pb-20 left-[330px] right-0 relative z-10 flex flex-col gap-5"
  >
    {stages.map((stage, i) => <Stage index={i} {...stage} />)}
  </div>

  <div
    class="absolute z-0 left-0 bottom-0 h-full w-full"
    style="background-image: url('/images/curve.png');"
  >
  </div>
  <img
    src="/images/logo.png"
    height="289"
    class="absolute left-10 bottom-10 z-10"
    width="238"
    alt=""
  />
</section>
