---
import Header from "@components/Header.astro";
---

<section
  id="HeroWrapper"
  style="background-image: url('/images/hero.webp');"
  class="h-[812px] md:h-[1117px]"
>
  <div
    class="hero-content text-white relative flex flex-col h-full w-full z-10"
    style="background: linear-gradient(90.11deg, rgba(17, 37, 70, 0.8) 0.09%, rgba(17, 37, 70, 0.6) 59.35%)"
  >
    <Header />

    <div class="px-5 md:px-20 lg:px-[214px] min-h-[50%] mt-auto">
      <h1
        class="font-bold text-4xl md:text-[75px] leading-[48px] md:leading-[90px]"
      >
        Exzellent <br />
        Marketing und Vertrieb
      </h1>

      <p
        class="my-10 md:my-12 text-xl md:text-2xl lg:text-3xl font-['Comfortaa']"
      >
        “Schön, dass Du da bist!”
      </p>

      <a
        href="#"
        class="font-['Comfortaa'] bg-white rounded-full text-base md:text-lg lg:text-xl text-blue px-5 md:px-12 py-2 md:py-5"
        >BLITZ BEWERBUNG</a
      >

      <div class="flex justify-center mt-20 md:mt-[151px] py-5">
        <a href="" class="flex gap-2 items-center"
          >Erfahre mehr über uns <svg
            class="h-5"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 30 30"
            fill="#FFFFFF"
          >
            <path
              d="M3,12v-2c0-0.386,0.223-0.738,0.572-0.904s0.762-0.115,1.062,0.13L15,17.708l10.367-8.482 c0.299-0.245,0.712-0.295,1.062-0.13C26.779,9.261,27,9.614,27,10v2c0,0.3-0.135,0.584-0.367,0.774l-11,9 c-0.369,0.301-0.898,0.301-1.267,0l-11-9C3.135,12.584,3,12.3,3,12z"
              fill="#FFFFFF"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>

<script>
  // scroll handler
  function scroll(old, des, actual) {
    let easeInOutQuart = function (t) {
      return t < 0.5 ? 8 * t * t * t * t : 1 - 8 * --t * t * t * t;
    };
    actual += 1;
    let ease = easeInOutQuart(actual / 100);
    let delta = des - old;
    delta *= ease;
    delta += old;
    window.scrollTo(0, delta);
    if (actual < 100) {
      window.requestAnimationFrame(function () {
        scroll(old, des, actual);
      });
    }
  }
  // handle click
  function handleHash(e) {
    e.preventDefault();

    let scrollPadding = 100;
    let link = e.target.getAttribute("href").substr(1);
    let block = document.getElementById(link).offsetTop - scrollPadding;
    let client = document.documentElement.scrollTop;

    // if is link in the header
    if ([...e.target.classList].includes("header-link")) {
      document
        .querySelector("#MainHeader")
        .setAttribute("data-mobile-open", "false");
    }
    scroll(client, block, 0);
  }
  // getting hash links
  window.addEventListener("DOMContentLoaded", () => {
    [...document.querySelectorAll("a[href^='#']")].forEach((anchor) => {
      anchor.addEventListener("click", handleHash);
    });
  });
</script>
