---
import GalleryImage from "@components/GalleryImage.astro";
---

<section id="OurTeam" class="py-[140px] px-[330px]">
  <p class="title mb-10">Unser Team</p>
  <p class="paragraph">
    Unser Team ist mittlerweile auf 60 Mitarbeiter an 4 verschiedenen Standorten
    gewachsen. So unterschiedlich jede Persönlichkeit und Fähigkeit unserer
    Mitarbeiter ist, macht uns dieser einzigartige Mix zu dem wer wir sind.
  </p>

  <!-- TEAM PHOTOS -->
  <div
    id="gallery"
    class="grid mt-[120px] grid-areas-gallery grid-cols-6 grid-rows-[repeat(7,178px)] gap-1"
  >
    <GalleryImage class="grid-in-a" imageUrl="/images/a.png" />
    <GalleryImage class="grid-in-b" imageUrl="/images/b.png" />
    <GalleryImage class="grid-in-c" imageUrl="/images/c.png" />
    <GalleryImage class="grid-in-d" imageUrl="/images/d.png" />
    <GalleryImage class="grid-in-e" imageUrl="/images/e.png" />
    <GalleryImage class="grid-in-f" imageUrl="/images/f.png" />
    <GalleryImage class="grid-in-g" imageUrl="/images/g.png" />
    <GalleryImage class="grid-in-h" imageUrl="/images/h.png" />
    <GalleryImage class="grid-in-i" imageUrl="/images/i.png" />
    <GalleryImage class="grid-in-j" imageUrl="/images/j.png" />
    <GalleryImage class="grid-in-k" imageUrl="/images/k.png" />
    <GalleryImage class="grid-in-l" imageUrl="/images/l.png" />
    <GalleryImage class="grid-in-m" imageUrl="/images/m.png" />
    <GalleryImage class="grid-in-n" imageUrl="/images/n.png" />
    <GalleryImage class="grid-in-o" imageUrl="/images/o.png" />
    <GalleryImage class="grid-in-p" imageUrl="/images/p.png" />
  </div>
</section>

<style></style>
