---
import GalleryImage from "@components/GalleryImage.astro";
---

<section id="Team" class="py-16 md:py-20 lg:py-[140px] md:px-20 lg:px-[330px]">
  <p class="title mb-5 lg:mb-10 px-6 md:px-0">Unser Team</p>
  <p class="paragraph px-6 md:px-0">
    Unser Team ist mittlerweile auf 60 Mitarbeiter an 4 verschiedenen Standorten
    gewachsen. So unterschiedlich jede Persönlichkeit und Fähigkeit unserer
    Mitarbeiter ist, macht uns dieser einzigartige Mix zu dem wer wir sind.
  </p>

  <!-- TEAM PHOTOS -->
  <div
    id="gallery"
    class="grid mt-16 lg:mt-[120px] grid-areas-gallery-sm md:grid-areas-gallery grid-cols-3 md:grid-cols-6 md:grid-rows-[repeat(7,178px)] grid-rows-[repeat(11,178px)] gap-1"
  >
    <GalleryImage class="grid-in-a" imageUrl="/images/a.webp" />
    <GalleryImage class="grid-in-b" imageUrl="/images/b.webp" />
    <GalleryImage class="grid-in-c hidden md:block" imageUrl="/images/c.webp" />
    <GalleryImage class="grid-in-c md:hidden" imageUrl="/images/ma.png" />
    <GalleryImage class="grid-in-d hidden md:block" imageUrl="/images/d.webp" />
    <GalleryImage class="grid-in-e" imageUrl="/images/e.webp" />
    <GalleryImage class="grid-in-f" imageUrl="/images/f.webp" />
    <GalleryImage class="grid-in-g" imageUrl="/images/g.webp" />
    <GalleryImage class="grid-in-h" imageUrl="/images/h.webp" />
    <GalleryImage class="grid-in-i" imageUrl="/images/i.webp" />
    <GalleryImage class="grid-in-j" imageUrl="/images/j.webp" />
    <GalleryImage class="grid-in-k" imageUrl="/images/k.webp" />
    <GalleryImage class="grid-in-l hidden md:block" imageUrl="/images/l.webp" />
    <GalleryImage class="grid-in-l md:hidden" imageUrl="/images/ma2.png" />
    <GalleryImage class="grid-in-m" imageUrl="/images/m.webp" />
    <GalleryImage class="grid-in-n" imageUrl="/images/n.webp" />
    <GalleryImage class="grid-in-o" imageUrl="/images/o.webp" />
    <GalleryImage class="grid-in-p hidden md:block" imageUrl="/images/p.webp" />
  </div>
</section>

<style></style>
