---
import About from "@components/sections/About.astro";
import EmployeeFeedback from "@components/sections/EmplyeeFeedback.astro";
import Career from "@components/sections/Career.astro";
import Hero from "@components/sections/Hero.astro";
import Team from "@components/sections/Team.astro";
import Layout from "@layouts/Layout.astro";
import ApplicationForm from "@components/ApplicationForm.astro";
import ApplicationCard from "@components/ApplicationCard.astro";
import ContactCard from "@components/ContactCard.astro";
import { contacts } from "@data/data";
---

<Layout title="Homepage">
  <main id="HomePage" class="container mx-auto">
    <!-- HERO -->
    <Hero />
    <!-- ABOUT -->
    <About />
    <!-- IMAGE -->
    <section id="ImageSlider" class="splide" aria-label="Slider Images">
      <div class="splide__track">
        <section class="splide__list">
          <div
            style="background-image: url('/images/leidenschaftlich.webp');"
            class="splide__slide h-[600px]"
          >
            <div
              class="overlay h-full w-full flex flex-col justify-center text-white pl-[169px]"
              style="background: linear-gradient(90.11deg, rgba(17, 37, 70, 0.24) 0.09%, rgba(17, 37, 70, 0.18) 59.35%)"
            >
              <p class="text-3xl font-['Comfortaa']">Das sind wir:</p>
              <p class="text-[75px] leading-[90px] font-bold">
                Leidenschaftlich
              </p>
            </div>
          </div>
          <div
            style="background-image: url('/images/aufmerksam.webp');"
            class="splide__slide h-[600px]"
          >
            <div
              class="overlay h-full w-full flex flex-col justify-center text-white pl-[169px]"
              style="background: linear-gradient(90.11deg, rgba(17, 37, 70, 0.24) 0.09%, rgba(17, 37, 70, 0.18) 59.35%)"
            >
              <p class="text-3xl font-['Comfortaa']">Dafür stehen wir</p>
              <p class="text-[75px] leading-[90px] font-bold">Aufmerksam</p>
            </div>
          </div>
        </section>
      </div>
    </section>

    <Career />
    <!-- IMAGE -->
    <section
      style="background-image: url('/images/quote.webp');"
      class="h-[600px]"
    >
      <div
        class="overlay h-full w-full flex flex-col justify-center text-white pl-[169px]"
        style="background: linear-gradient(90.11deg, rgba(17, 37, 70, 0.24) 0.09%, rgba(17, 37, 70, 0.18) 59.35%)"
      >
        <p class="text-[40px] leading-[90px] font-bold">
          “Hier steht ein Zitat von mir ”
        </p>
      </div>
    </section>

    <!-- TEAM -->
    <Team />

    <!-- WHAT EMPLOYEES SAY -->
    <EmployeeFeedback />

    <!-- FIND US IMAGE -->
    <section
      style="background-image: url('/images/find-us.webp');"
      class="h-[600px]"
    >
    </section>
    <!-- MAP -->
    <section class="py-[140px] flex flex-col gap-[120px] px-[330px]">
      <p class="title">Hier findest du uns</p>
      <img src="/images/map.svg" alt="map" />
    </section>

    <!-- Flash application -->
    <section class="flex flex-col relative px-[330px]">
      <p class="title">Blitz Bewerbung</p>
      <p class="paragraph mt-10">
        Keine lust auf einen Langen Bewerbungs Prozess? Dann lass uns noch heute
        ein Kennenlernen vereinbaren!
      </p>

      <!-- APPLICATION SLIDER -->
      <section id="AplicationSlider" class="splide" aria-label="Slider Images">
        <div class="splide__track">
          <section class="splide__list">
            {
              ["Werkstudent", "Quereinsteiger", "Kundenberater"].map(
                (title) => (
                  <div class="splide__slide">
                    <ApplicationCard title={title} />
                  </div>
                )
              )
            }
          </section>
        </div>
      </section>

      <ApplicationForm />

      <div
        class="absolute z-0 left-0 bottom-0 bg-contain bg-no-repeat h-full w-full"
        style="background-image: url('/images/curve-2.png');"
      >
      </div>
    </section>

    <!-- KONTAKT -->
    <section class="bg-[#f3f4f8] py-[110px] flex flex-col gap-10 pl-[170px]">
      <p class="font-bold text-[60px]">Kontakt</p>
      <!-- CONTACT SLIDER -->
      <section id="ContactSlider" class="splide" aria-label="contacts">
        <div class="splide__track">
          <section class="splide__list">
            {
              contacts.map((contact) => (
                <div class="splide__slide">
                  <ContactCard {...contact} />
                </div>
              ))
            }
          </section>
        </div>
      </section>
    </section>
  </main>
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    new Splide("#AplicationSlider", {
      arrows: false,
      autoplay: true,
      perPage: 2.5,
      pagination: true,
      gap: 10,
      type: "loop",
      classes: {
        page: "splide__pagination__page shadow  bg-black ",
      },
    }).mount();
    new Splide("#ContactSlider", {
      arrows: false,
      autoplay: true,
      perPage: 4,
      pagination: false,
      gap: 24,
      type: "loop",
    }).mount();

    new Splide("#ImageSlider", {
      arrows: false,
      pagination: false,
      autoplay: true,
      type: "loop",
    }).mount();

    new Splide("#FeedbackSlider", {
      autoplay: true,
      gap: 70,
      padding: 70,
      type: "loop",
    }).mount();
  });
</script>
