---
import About from "@components/sections/About.astro";
import EmployeeFeedback from "@components/sections/EmplyeeFeedback.astro";
import Career from "@components/sections/Career.astro";
import Hero from "@components/sections/Hero.astro";
import Team from "@components/sections/Team.astro";
import Layout from "@layouts/Layout.astro";
import ApplicationForm from "@components/ApplicationForm.astro";
import ApplicationCard from "@components/ApplicationCard.astro";
import ContactCard from "@components/ContactCard.astro";
import { contacts } from "@data/data";
---

<Layout title="Homepage">
  <main id="HomePage" class="lg:container mx-auto">
    <!-- HERO -->
    <Hero />
    <!-- ABOUT -->
    <About />
    <!-- IMAGE -->
    <section id="ImageSlider" class="splide" aria-label="Slider Images">
      <div class="splide__track">
        <section class="splide__list">
          <div
            style="background-image: url('/images/leidenschaftlich.webp');"
            class="splide__slide h-[400px] lg:h-[600px]"
          >
            <div
              class="overlay h-full w-full flex flex-col justify-center text-white pl-20 lg:pl-[169px]"
              style="background: linear-gradient(90.11deg, rgba(17, 37, 70, 0.24) 0.09%, rgba(17, 37, 70, 0.18) 59.35%)"
            >
              <p class="text-2xl lg:text-3xl font-['Comfortaa']">
                Das sind wir:
              </p>
              <p class="text-5xl lg:text-[75px] lg:leading-[90px] font-bold">
                Leidenschaftlich
              </p>
            </div>
          </div>
          <div
            style="background-image: url('/images/aufmerksam.webp');"
            class="splide__slide h-[400px] lg:h-[600px]"
          >
            <div
              class="overlay h-full w-full flex flex-col justify-center text-white pl-20 lg:pl-[169px]"
              style="background: linear-gradient(90.11deg, rgba(17, 37, 70, 0.24) 0.09%, rgba(17, 37, 70, 0.18) 59.35%)"
            >
              <p class="text-2xl lg:text-3xl font-['Comfortaa']">
                Dafür stehen wir
              </p>
              <p class="text-5xl lg:text-[75px] lg:leading-[90px] font-bold">
                Aufmerksam
              </p>
            </div>
          </div>
        </section>
      </div>
    </section>

    <Career />
    <!-- IMAGE -->
    <section
      style="background-image: url('/images/quote.webp');"
      class="h-[300px] md:h-[400px] lg:h-[600px] bg-center md:bg-right lg:bg-center"
    >
      <div
        class="overlay h-full w-full flex flex-col justify-center text-white pl-6 md:pl-20 lg:pl-[169px]"
        style="background: linear-gradient(90.11deg, rgba(17, 37, 70, 0.24) 0.09%, rgba(17, 37, 70, 0.18) 59.35%)"
      >
        <p class="hidden md:block text-[40px] leading-[90px] font-bold">
          “Hier steht ein Zitat von mir ”
        </p>

        <div class="md:hidden mt-auto pb-5">
          <p class="font-bold text-[34px]">Karriere bei uns!</p>
          <p class="font-['Comfortaa']">
            Wer spaß beider Arbeit hat muss nie wieder arbeiten!
          </p>
        </div>
      </div>
    </section>

    <!-- TEAM -->
    <Team />

    <!-- WHAT EMPLOYEES SAY -->
    <EmployeeFeedback />

    <!-- FIND US IMAGE -->
    <section
      style="background-image: url('/images/find-us.webp');"
      class="h[300px] md:h-[400px] lg:h-[600px]"
    >
    </section>

    <!-- MAP -->
    <section
      class="py-12 md:py-20 lg:py-[140px] flex flex-col gap-14 md:gap-20 lg:gap-[120px] px-6 md:px-20 lg:px-[330px]"
    >
      <p class="title">Hier findest du uns</p>
      <img src="/images/map.svg" class="md:w-3/4 mx-auto lg:w-full" alt="map" />
    </section>

    <!-- Flash application -->
    <section class="flex flex-col relative px-6 md:px-20 lg:px-[330px]">
      <p class="title">Blitz Bewerbung</p>
      <p class="paragraph mt-5 lg:mt-10">
        Keine lust auf einen Langen Bewerbungs Prozess? Dann lass uns noch heute
        ein Kennenlernen vereinbaren!
      </p>

      <!-- APPLICATION SLIDER -->
      <section id="AplicationSlider" class="splide" aria-label="Slider Images">
        <div class="splide__track">
          <section class="splide__list">
            {
              ["Werkstudent", "Quereinsteiger", "Kundenberater"].map(
                (title) => (
                  <div class="splide__slide">
                    <ApplicationCard title={title} />
                  </div>
                )
              )
            }
          </section>
        </div>
      </section>

      <ApplicationForm />

      <div
        class="absolute hidden md:block z-0 left-0 bottom-0 bg-contain bg-no-repeat h-2/5 lg:h-full w-full"
        style="background-image: url('/images/curve-2.png');"
      >
      </div>
    </section>

    <!-- KONTAKT -->
    <section
      class="bg-[#f3f4f8] py-14 md:py-24 lg:py-[110px] flex flex-col gap-10 px-5 md:pr-0 md:pl-20 lg:pl-[170px]"
    >
      <p class="font-bold text-4xl lg:text-5xl lg:text-[60px]">Kontakt</p>
      <!-- CONTACT SLIDER -->
      <section id="ContactSlider" class="splide" aria-label="contacts">
        <div class="splide__track">
          <section class="splide__list">
            {
              contacts.map((contact) => (
                <div class="splide__slide">
                  <ContactCard {...contact} />
                </div>
              ))
            }
          </section>
        </div>
      </section>
    </section>
  </main>
</Layout>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    new Splide("#AplicationSlider", {
      arrows: false,
      autoplay: true,
      perPage: 1.5,
      pagination: true,
      gap: 10,
      type: "loop",
      classes: {
        page: "splide__pagination__page shadow  bg-black ",
      },
      mediaQuery: "min",
      breakpoints: {
        768: {
          perPage: 2.5,
        },
      },
    }).mount();
    new Splide("#ContactSlider", {
      arrows: false,
      autoplay: true,
      perPage: 1,
      perMove: 1,
      pagination: false,
      gap: 24,
      type: "loop",
      mediaQuery: "min",
      breakpoints: {
        768: {
          perPage: 2,
        },
        1024: {
          perPage: 4,
        },
      },
    }).mount();

    new Splide("#ImageSlider", {
      arrows: false,
      pagination: false,
      autoplay: true,
      type: "loop",
    }).mount();

    new Splide("#FeedbackSlider", {
      autoplay: true,
      gap: 40,
      padding: 40,
      type: "loop",
      mediaQuery: "min",
      breakpoints: {
        768: {
          gap: 70,
          padding: 70,
        },
      },
      classes: {
        page: "splide__pagination__page shadow  bg-black ",
      },
    }).mount();
  });
</script>
