---
import Hero from "@components/sections/Hero.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Homepage">
  <main id="HomePage">
    <!-- HERO -->
    <Hero />
    <!-- VIDEO -->
  </main>
</Layout>

<style></style>
