---
import About from "@components/sections/About.astro";
import Hero from "@components/sections/Hero.astro";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Homepage">
  <main id="HomePage">
    <!-- HERO -->
    <Hero />
    <!-- ABOUT -->
    <About />
  </main>
</Layout>

<style></style>
