<footer
  class="bg-[#f3f4f8] py-12 border border-gray-300 flex flex-col gap-3 items-center"
>
  <p class="text-[32px] font-bold">Folge uns auf social Media</p>
  <div class="social-images flex items-center gap-6">
    <img src="/ig.svg" class="w-10" alt="instagram icon" />
    <img src="/fb.svg" class="w-10" alt="facebook icon" />
    <img src="/yt-filled.svg" class="w-10" alt="youtube icon" />
  </div>

  <a href="" class="font-['Comfortaa'] mt-9 underline text-sm">
    {">>"} Impressum und Haftungsauschluss</a
  >
</footer>
