---
import HeaderLink from "./HeaderLink.astro";
---

<header
  id="MainHeader"
  class="px-5 lg:pl-8 lg:pr-16 pt-8 flex justify-between items-center"
>
  <a href="/"><img src="/images/logo.png" class="h-10 md:h-12" alt="Logo" /></a>

  <button>
    <img src="/menu.svg" class="h-5" alt="menu" />
  </button>

  <ul class="hidden md:flex items-center gap-6">
    <li>
      <HeaderLink href="#Überuns">Über uns</HeaderLink>
    </li>
    <li>
      <HeaderLink href="#Karriere">Karriere</HeaderLink>
    </li>
    <li>
      <HeaderLink href="#Standorte">Standorte</HeaderLink>
    </li>
    <li>
      <HeaderLink href="#Team">Team</HeaderLink>
    </li>
    <li>
      <HeaderLink href="#Kontakt">Kontakt</HeaderLink>
    </li>
  </ul>
</header>
