---
interface Props extends astroHTML.JSX.AnchorHTMLAttributes {}

const { class: className, ...props } = Astro.props;
---

<a
  {...props}
  class:list={[
    "header-link text-right md:text-left underline md:no-underline uppercase md:normal-case md:text-2xl",
    className,
  ]}
  ><slot />
</a>
