---
interface Props extends IStage {
  index: number;
}

const { title, imageUrl, info, index } = Astro.props;
---

<div
  class:list={[
    "stage  w-max  ",
    { "ml-[10%]": index === 1 },
    { "ml-[20%]": index === 2 },
    { "ml-[30%]": index === 3 },
  ]}
>
  <p class="text-3xl font-bold bg-[#F3F4F8] py-1 px-2 w-max rounded-t-[20px]">
    {title}
  </p>
  <div class="flex gap-9">
    <div class="w-[230px] bg-[#F3F4F8] p-3 rounded-b-[20px]">
      <img src={imageUrl} alt={title.toLowerCase()} />
    </div>
    <div
      class="font-['Comfortaa'] flex flex-col justify-center text-base leading-8 w-[35ch]"
    >
      {info}
    </div>
  </div>
</div>
