---
import "@styles/global.css";
import SEO from "@components/SEO.astro";
import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import { SITE_DESCRIPTION, SITE_NAME } from "@data/config";
import Footer from "@components/Footer.astro";

export interface Props {
  title?: string;
  description?: string;
}

const { title = SITE_NAME, description = SITE_DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <GoogleFontsOptimizer
      url={[
        "https://fonts.googleapis.com/css2?family=Sansita:wght@400;700;800&display=swap",
        "https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap",
      ]}
    />

    <SEO title={title} description={description} />

    <script
      src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"
    />

    <script>
      function scrollSmooth(old: number, des: number, actual: number) {
        let easeInOutQuart = function (t: number) {
          return t < 0.5 ? 8 * t * t * t * t : 1 - 8 * --t * t * t * t;
        };
        actual += 1;
        let ease = easeInOutQuart(actual / 100);
        let delta = des - old;
        delta *= ease;
        delta += old;
        window.scrollTo(0, delta);
        if (actual < 100) {
          window.requestAnimationFrame(function () {
            scrollSmooth(old, des, actual);
          });
        }
      }
      document.querySelector("#scrollTop")?.addEventListener("click", () => {
        scrollSmooth(
          document.documentElement.scrollTop,
          document.querySelector("body")!.offsetTop,
          0
        );
      });
    </script>
  </head>
  <body>
    <!-- SCROLL TO TOP -->

    <button
      id="scrollTop"
      class="fixed right-4 md:right-8 z-[99] bottom-4 md:bottom-8 h-10 md:h-14 aspect-square grid place-content-center bg-white rounded-full border border-black"
    >
      <svg
        class="w-6 md:w-8"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 30 30"
        ><path
          d="M27,18v2c0,0.386-0.223,0.738-0.572,0.904c-0.349,0.166-0.762,0.115-1.062-0.13L15,12.292L4.633,20.774 c-0.299,0.245-0.712,0.295-1.062,0.13C3.221,20.739,3,20.386,3,20v-2c0-0.3,0.135-0.584,0.367-0.774l11-9 c0.369-0.301,0.898-0.301,1.267,0l11,9C26.865,17.416,27,17.7,27,18z"
        ></path>
      </svg>
    </button>
    <slot />
    <Footer />
    <style is:global>
      *,
      *::after,
      *::before {
        box-sizing: border-box;
      }
      body {
        font-family: Sansita;
      }

      /* section TITLE */
      .title {
        @apply text-[30px] md:text-4xl lg:text-[60px] leading-[50px] lg:leading-[70px] font-bold;
      }
      /* section paragraph */
      .paragraph {
        @apply text-base lg:text-xl leading-8 lg:leading-[45px] font-['Comfortaa'];
      }
    </style>
  </body>
</html>
